body {
	background-color: lightblue;
}

.current_page_item a {
	color: red;
}

picture {
	display: block;
	overflow: hidden;
	width: 300px;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.people-list {
	display: flex;
	align-content: center;
	margin-left: 50px;
}

.people-list h1 {
	margin-left: 20px;
}

people-card {
	display: block;
	border: 2px solid rgba(0, 0, 0, .4);
	width: 500px;
	margin-bottom: 20px;
	padding: 20px;
}