body * {
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: 
}

body {
  background-color: #00DBDE;
background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);

}

div {
/*   border: 2px solid red; */
  padding: 20px;
  max-width: 600px;
  width: 98;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-left: 2px dotted #fb04ff;
  border-right: 2px dotted lightblue;
}

.navigation {
  margin-top: 20px;
}

.navigation div {
  background-color: #62bee4;
  color: orange;
  border-radius: 20px 20px 0px 0px;
}

.navigation div a:hover {
  text-decoration: underline;
  color: indianred;
}

.navigation div a {
  text-decoration: none;
  color: #e936fb;
  font-size: 25px;
  padding: 10px;
}

.landing div {
  background-color: #fabd05;
  color: fuchsia;
  font-size: 50px;
}

.landing div em {
  text-emphasis: filled red;
-webkit-text-emphasis: filled #16d9de;
} 

.video div {
  border-left: 2px dotted #fb04ff;
  border-right: 2px dotted lightblue;
}

.video div iframe {
  width: 98%;
}

.images div {
  background: rgb(36,215,223);
background: linear-gradient(90deg, rgba(36,215,223,1) 0%, rgba(252,3,255,1) 0%, rgba(36,215,223,1) 84%);
}

.images div p {
  font-size: 40px;
  color: yellow;
  padding-bottom: 30px;
  padding-top: 30px;
}

.images img {
  width: 180px;
  height: 240px;
  padding: 5px;
}

.about div {
  background-color: #fabd05;
  color: fuchsia;
  font-size: 30px;
}

.about div em {
  font-style: italic;
}

.contact {
  margin-bottom: 20px;
}

.contact div {
  background-color: #e936fb;
  color: yellow;
  border-radius: 0px 0px 20px 20px;
}