@import "css/components.css";
@import "css/developer-styles.css";
@import "css/meyer-reset.css";
@import "css/settings.css";
@import "css/typography.css";
@import "css/structure.css";

body {
	background-color: lightblue;
}

.current_page_item a {
	color: red;
}

card {
	display: block;
}

.menu ul {
	display: flex;
	flex-direction: row;
}