body {
	background-color: white;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 600px) {

	body {
		padding: 10px;
	}

 	header {
  		display: flex;
  		flex-direction: column;
  	}
  	outlet ul {
		display: grid;
		grid-template-columns: 1fr !important;
	}
	.sign-in-form button {
		margin-bottom: 10px;
	}
	header form field input {
   	 width: 90%;
  }
  	form field input {
		box-shadow: 0px 2px 5px black !important;
	}
}

ul {
	padding: 0;
}

header {
	display: flex;
	justify-content: space-between;
}

h2 {
	color: #047a97;
}

outlet ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

p, h1, h2 {
	font-family: 'Poppins', sans-serif;
}

header button {
  font-size: 14px;
  padding: 5px 10px;
  background-color: #ff5a5f;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

header button:hover {
  background-color: #e81123;
  cursor: pointer;
}

header .form-grid {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.sign-in-form {
	margin-top: 40px;
}

button {
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0069d9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


message {
	font-weight: bold;
}

.review {
  display: flex;
  align-items: center;
}

.review i {
  font-size: 35px;
  margin-right: 10px;
}

.review .text {
  display: flex;
  flex-direction: column;
}

.review .name {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.review .wrote {
  font-size: 14px;
  margin: 0;
  color: #999;
}

.fa-star.checked.red {
  color: #ff4f4f;
}

.fa-star.checked.orange {
  color: #ff8c00;
}

.fa-star.checked.light-orange {
  color: #ffc107;
}


.success {
	color: green;
}

.error {
	color: red;
}

#filter {
	min-width: 250px;
}

li {
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	margin: 20px;
	padding: 20px;
}

ul {
	list-style-type: none;
}

form {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
}

form field {
  display: block;
  margin-bottom: 20px;
}

form field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  text-align: left;
}

form field input {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

form field input:focus {
  outline: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

form field input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
}

form field input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff6a00;
  cursor: pointer;
}

form button {
  background-color: #ff6a00;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #ff9040;
}

form {
  text-align: left;
}

.review-field {
  width: 50%;
}

