body {
	background-color: white;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

header {
	display: flex;
	justify-content: space-between;
}

h2 {
	color: #047a97;
}

outlet ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

#filter {
	min-width: 250px;
}

li {
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
	margin: 20px;
	padding: 20px;
}

ul {
	list-style-type: none;
}

.five-pointed-star {
 --star-color:orange;
 margin:1em auto;
 font-size:10em;
 position: relative;
 display: block;
 width: px;
 height: 0px;
 border-right: 1em solid transparent;
 border-bottom: 0.7em solid var(--star-color);
 border-left: 1em solid transparent;
 transform: rotate(35deg);
}
.five-pointed-star:before {
 border-bottom: 0.8em solid var(--star-color);
 border-left: 0.3em solid transparent;
 border-right: 0.3em solid transparent;
 position: absolute;
 height: 0;
 width: 0;
 top: -0.45em;
 left: -0.65em;
 display: block;
 content:"";
 transform: rotate(-35deg);
}
.five-pointed-star:after {
 position: absolute;
 display: block;
 top: 0.03em;
 left: -1.05em;
 width: 0;
 height: 0;
 border-right: 1em solid transparent;
 border-bottom: 0.7em solid var(--star-color);
 border-left: 1em solid transparent;
 transform: rotate(-70deg);
 content:"";
}