@import 'meyer-reset.css';

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* for the footer */
} 

/* explained here: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer */

main {
	flex-grow:  1; /* push the footer down */
}

inner-column {
	display:  block;
	max-width: 1000px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 45px 0;
}

outer-column {
	display:  block;
	max-width: 1200px; /* could be a variable in settings */
	margin-right: auto;
	margin-left: auto;
	padding: 45px 0;
}

section {
	margin-bottom: 50px;
}

.logo {
	width: 150px;
}

p,h1,h2,a,h4 {
	font-family: sans-serif;
}

p {
	line-height: 1.5;
}

h1 span {
	color: #f34f51;
}

.calm-voice {

}

.loud-voice {

}

.attention-voice {
	font-size: 35px;
	font-weight: bold;
}

.button {
	display: inline-block;
	background-color: #f34f51;
	color: white;
	padding: 17px 85px;
	text-decoration: none;
	border-radius: 10px;
}

.landing {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
}

.landing-img {
	border-radius: 10px;
	width: 100%;
}

.landing text-content h1, .landing text-content p {
	margin-bottom: 20px;
}

.info h1 {
	text-align: center;
	margin-bottom: 30px;
}

.info-card-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.info-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 20px;
}

.info-card img {
	width: 70px;
}

.blog-background {
	background-color: #eeeeee;
}

.blog h1 {
	text-align: center;
}

.blog .header-p {
	text-align: center;
}

.blog-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
}

blog-card {
	display: block;
	background-color: white;
}

blog-card img {
	width: 100%;
}

blog-card text-content{
	display: block;
	padding: 20px;
	height: 200px;
}

blog-card text-content h4 {
	font-weight: bold;
}




