
projects-intro {
  display: block;
}

projects-intro header {
  max-width: 60ch;
}

projects-intro project-grid {
  display: grid;
  gap: 7em 1em;
  
  margin-top: 20px;
}

projects-intro header p span {
  font-style: italic;
  
}

projects-intro header h2 {
 
}

@media(min-width: 700px){
 projects-intro project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 1100px){
  projects-intro project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

