.project-links {
	display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
}

.project-links a {
	margin-right: 10px;
	margin-bottom: 10px;
	background-color: #f65752;
	padding: 7px 25px 7px 25px;
	border-radius: 10px;
	font-size: 1.5em;
	color: white;
}

.project-links a:hover {
	opacity: 0.9;
}