header {
	border-bottom: 1px solid black;
}

.heading-collection div {
	border-bottom: 1px solid black;
}

body {
	margin-left: 20px;
}

.square {
	height: 200px;
	width: 200px;
	background-color: black;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media(min-width: 600px) {
	.container {
		display: flex;
		flex-direction: row;
	}
	.heading-collection div {
		max-width: 200px;
		margin-right: 10px;
	}
	header {
		max-width: 400px;
	}
	.square-holder {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

@media(min-width: 1000px) {
	.mega-container {
		display: flex;
		flex-direction: row;
	}
	.square-holder {
		max-width: 600px;
	}
}



