@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@0;1&display=swap');

* {
	box-sizing: border-box;
}

body {
	--white: #fffafa;
	background-color: #e9e2d4;
	font-family: 'Noto Sans Display', sans-serif;
}

body * {
	/*border: 1px solid red;*/
}

.inner-column {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

div {
	text-align: left;
	max-width: 50vh;
}

header div {
	font-size: 30px;
	font-weight: 700;
}

.student {
	border: 2px solid black;
	border-radius: 5px;
	margin:  10px;
	padding: 5px;
}

h2 {
	padding-bottom: 8px;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: .1rem;
}

p {
	line-height: 1.2;
	padding-bottom: 10px;
}

a {
	text-decoration: none;
	color: #6d5ce8;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 40px;
}

