@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@100;300;400&display=swap');

.loud-voice {
	font-family: 'Roboto Serif', sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}

.intro-voice {
	font-family: 'Roboto Serif', sans-serif;
	font-size: clamp(40px, 4vw, 70px);
	font-weight: 400;
}

.calm-voice {
	font-family: 'Roboto Serif', sans-serif;
	font-size: clamp(25px, 5vw, 32px);
	font-weight: 300;
	line-height: 1.3;
}

header a {
	font-family: 'Roboto Serif', sans-serif;
}

.projects a {
	font-family: 'Roboto Serif', sans-serif;
	text-decoration: none;
	color: black;
}

.projects a:hover {
	text-decoration: underline;
	color: white;
}